{% extends "cssurvey/base_admin.html" %}

{% block title %} OCSS Control Panel {% endblock %}

{% block page_title %} <a class="navbar-brand" href="{% url 'controlpanel' %}">Online CSS</a> {% endblock %}

{% block content %}

<main>
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary mb-4">
        <div class="container">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="help-circle"></i></div>
                            Search Office
                        </h1>
                        <div class="page-header-subtitle">View individual performances of each offices</div>
                    </div>
                </div>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="page-header-search mt-4">
                        <div class="input-group input-group-joined">
                            <input class="form-control"  name="searchOffice" id="searchOffice" type="text" placeholder="Search..." aria-label="Search" autofocus />
                            <div class="input-group-append">
                                <span class="input-group-text"><i data-feather="search"></i></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container">
        {% for rate in rating%}
            {{ rate }}
        {% endfor %}
<!--        {{ rating }}-->
        {% include 'cssurvey/messages.html' %}
        <h4 class="mb-0 mt-5">Top Performing Offices</h4>
        <hr class="mt-2 mb-4" />
        {% for office in all_offices %}
            <a class="card card-icon lift lift-sm mb-4" href="">
                <div class="row no-gutters">
                    <div class="col-auto card-icon-aside bg-teal"><i class="text-white-50" data-feather="trending-up"></i></div>
                    <div class="col">
                        <div class="card-body py-4">
                            <h5 class="card-title text-teal mb-2">{{ office.officename }}</h5>
                            <p class="card-text mb-1">Click to view office performance</p>
                            <div class="small text-muted">Active</div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</main>

{% endblock %}