{% extends 'cssurvey/base_css.html' %}

{% block content %}

<div class="col-lg-12 mt-5">
    <hr class="my-3" />
    {% include 'cssurvey/messages.html' %}
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <h2>{{ office.officename }}</h2>
            <p class="lead mb-5">Contact us and we'll get back to you as soon as possible with a solution to whatever issues you're having with our services.</p>
        </div>
    </div>
    <div class="row align-items-center mb-10">
        {% comment %} <div class="col-lg-4 text-center mb-5 mb-lg-0">
            <div class="section-preheading">Message Us</div>
            <a href="#!">Start a chat!</a>
        </div> {% endcomment %}
        <div class="col-lg-6 text-center mb-5 mb-lg-0">
            <div class="section-preheading">Call Anytime</div>
            <a href="#!">{{ office.office_contact_no }}</a>
        </div>
        <div class="col-lg-6 text-center">
            <div class="section-preheading">Email Us</div>
            <a href="#!">{{ office.office_email }}</a>
        </div>
    </div>
    <form>
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-6">
                <label class="small mb-1" for="id_name">Fullname <span class="badge badge-primary-soft text-primary ml-auto">optional</span></label>
                {{ form.name }}
            </div>
            <div class="col-lg-6">
                <label class="small mb-1" for="id_email">Email</label>
                {{ form.email }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <label class="small mb-1" for="id_title">Subject</label>
                {{ form.title }}
            </div>
            <div class="col-lg-12">
                <label class="small mb-1" for="id_complaint">Concern</label>
                {{ form.complaint }}
            </div>
        </div>
        {% comment %} <div class="form-row">
            <div class="form-group col-md-6"><label class="text-dark" for="inputName">Full name</label><input class="form-control py-4" id="inputName" type="text" placeholder="Full name" /></div>
            <div class="form-group col-md-6"><label class="text-dark" for="inputEmail">Email</label><input class="form-control py-4" id="inputEmail" type="email" placeholder="name@example.com" /></div>
        </div>
        <div class="form-group"><label class="text-dark" for="inputMessage">Message</label><textarea class="form-control py-3" id="inputMessage" type="text" placeholder="Enter your message..." rows="4"></textarea></div>
        {% endcomment %}
        <div class="text-center"><button class="btn btn-primary mt-4" type="submit">Submit Request</button></div>
    </form>
</div>

{% endblock content %}